ASU_E_Commerce/ASU_E_Commerce/ASU_E_Commerce/Web References/Service1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar48.fulton.asu.edu/Page8/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="sign_up">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="street1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="street2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sign_upResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sign_upResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sign_in">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sign_inResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sign_inResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_user_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_user_infoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="get_user_infoResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit_user_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="n_pword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rn_pword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st_addr1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st_addr2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit_user_infoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="edit_user_infoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_books">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bidding" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_booksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add_booksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit_books">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bidding" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit_booksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="edit_booksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_book">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_bookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_bookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="book_details">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="book_detailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="book_detailsResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_books">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_booksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="search_booksResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="list_products">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_credential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="list_productsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="list_productsResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>